	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>LEARN MORE ABOUT US</h4>
				<p>WE ARE COOL PEOPLE</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-3">
				<img class="img-circle" src="<%= image_path "mich.jpg" %>" width="175" height="175" alt="">
				<h4>Michaela Brady</h4>
				<p>She does some stuff.</p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="<%= image_path "cat.jpg" %>" width="175" height="175" alt="">
				<h4>Cat Dioli</h4>
				<p>She handles other stuff.</p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="<%= image_path "chelsea.jpg" %>" width="175" height="175" alt="">
				<h4>Chelsea Thompson</h4>
				<p>She does more stuff.</p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="<%= image_path "pic4.jpg" %>" width="175" height="175" alt="">
				<h4>Tania Tissen</h4>
				<p>Just joined in.</p>
			</div><!-- col-lg-3 -->

		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->


	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>OUR PLAN</h4>
				<br>
				
			<!-- First Chart -->
			<div class="col-lg-4">
				<p><b>Why use TexBlock?</b></p>
				<p><small>In 2011, 23% of all car crashes were reported as cell phone related.  That’s 1.3 million crashes; and that’s only the number that was accurately reported.  Smart phones have a number of applications that often seem to demand our attention while driving—maps, music, messaging, images, internet.</small></p>
				<p><small>In order to limit the number of users whose texting results in fatal crashes, the number of people operating their phones while driving needs to be reduced.</small></p>
			</div><!-- /col-lg-3 -->

			<!-- Second Chart -->
			<div class="col-lg-4">
				<p><b>How big is the problem?</b></p>
				<p><small>“A quarter of teens respond to a text message once or more every time they drive. 20 percent of teens and 10 percent of parents admit that they have extended, multi-message text conversations while driving.” Official US Government Website for Distracted Driving, Distraction.Gov.</small></p> 
				<p><small>In the United States alone, 90% of adults have a cell phone and 58% of those users have a Smartphone.  Within this user pool, 67% of cell owners reportedly check their phones for messages, alerts, or calls—even if their phone isn’t ringing.  By 2012, over 17.3 billion text messages were sent by these users every month.</small></p>
				<p><small>But teens aren't the only ones on their phones in the car.  Parents and drivers everywhere can take advantage of our app.</small></p>   
			</div><!-- /col-lg-3 -->

			<!-- Third Chart -->
			<div class="col-lg-4">
				<p><b>Fixing the Problem</b></p>
				<p><small>Set up a profile.  Each profile begins with a name, email, password, and cell phone number. You'll then be prompted for a verification code, which has been sent to the number you provided via text message.  Once the your number is verified your can begin.</small></p> 
				<p><small>Hook your phone up to your computer.  The online interface identifies all of the apps on your phone and allows you to pick which applications to block on their phone.</small></p>
				<p><small>When the phone is in a car in motion it automatically locks down the pre-selected applications and does not re-open them until the car has stopped.  TexBlock communicates directly with the GPS in cars; for earlier model cars without GPS, there is a secondary device available for purchase.</small></p>
			</div><!-- /col-lg-3 -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->



	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
		          <h4>WE HAVE THE CAPACITY TO SAVE LIVES BY REDUCING THE NUMBER OF DISTRACTED DRIVERS</h4>
		          <p>TexBlock is a phone application that communicates with a signal (either GPS or a secondary device) and automatically shuts down user-selected applications.  This app allows users to take control by identifying what applications pose a threatening distraction to them while in their car.  This app is a mechanism to help reduce the number of distracted drivers on the road and decrease the number of injuries and deaths directly related to distracted driving.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->
	
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="#"><i class="fa fa-android"></i></a><a href="#"><i class="fa fa-phone"></i></a><a href="#"><i class="fa fa-apple"></i></a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->

  <!-- MODAL FOR CONTACT -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">contact us</h4>
        </div>
        <div class="modal-body">
            <div class="row centered">
              <p>We are available 24/7, so don't hesitate to contact us with questions.</p>
              <p>
            Bates College<br/>
            2 Andrews Rd<br/>
            Lewiston, ME 04240<br/>
              </p>
              <div id="mapwrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.9222621237614!2d-70.20318600000003!3d44.10559600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb26b95e156aed5%3A0xe09394fc40abee2!2sBates+College!5e0!3m2!1sen!2sus!4v1400625080357" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>  
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
