<div id="blue">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
			<h4>DOWNLOAD TEXBLOCK</b></h4>
			<p>AND SET UP YOUR PROFILE</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- blue wrap -->

	<!-- PRICING SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<br>
			<div class="col-lg-6">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">iOS</span>
                            <br>
                            <span class="price">
                            	<a href="http://store.apple.com/us" target="_blank"><i class="fa fa-apple fa-5x"></i></a><a href="#">
                            </span>
                        </div>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
				
			<div class="col-lg-6">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">ANDROID</span>
                            <br>
                            <span class="price">
                            	<a href="http://store.apple.com/us" target="_blank"><i class="fa fa-android fa-5x"></i></a><a href="#">
                            </span>
                        </div>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
				</div><!-- /col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->


