	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>WE WORK HARD TO ACHIEVE EXCELLENCE</h4>
				<p>AND WE ARE HAPPY TO HEAR YOUR THOUGHTS</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container desc">
		<div class="row">
			<br><br>
			<div class="col-lg-6 centered">
				<img src="<%= image_path "helene.jpg" %>" alt="" height="350" width="300">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Joanne Moody</h4>
				<p>I have two teenage daughters who are constantly on their phones.  They both recently started driving on their own and I am nervous about how concentrated they are on the road.  As new drivers, I don’t think they understand how dangerous cars are and that being distracted could hurt them or somebody else.  Since I can’t be in the car with them all the time I started using the app, TexBlock.  At first they were really mad, but after the first week they got used to it and some of their friends’ parents started using it as well.  I feel safer with the app because I know that it helps minimize their distractions and I can still get in contact with them if needed.</p>
			</div>
		</div><!-- row -->
		
		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="<%= image_path "andrea.jpg" %>" alt="" height="350" width="300">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Becca Ruth</h4>
				<p>I’m 22 years old and finishing up college.  I drive 3 hours back and forth to school and get really bored.  I usually text my friends or talk to them on the phone while I drive.  I’ve had a couple close calls on the highway while I was texting.  One time I was in bumper-to-bumper traffic and almost rear-ended the car in front of me.  The second time I almost collided with someone merging into my lane.  I’ve tried to limit how often I text by putting my phone on silent, but I still see the messages when I go to change the song on my phone and text back without thinking.  If there was an app that let me block texting just while I was driving I think it would help me be less distracted while I am driving.</p>
			</div>
		</div><!-- row -->

		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="<%= image_path "carsales.jpg" %>" alt="" height="350" width="300">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Burt Michaelson</h4>
				<p>I’m 52 years old and own a car service.  Recently I’ve had passengers report that drivers were using their phones while driving.  The safety of my passengers comes first and I can’t have passengers reporting that my drivers are distracted.  I started using TexBlock last month.  Some of my drivers have left it on their phones as a constant reminder to not use their phones while they drive.  Others have me authorize its deletion at the end of every day.  I really like the application and have seen more satisfied customers.  However, I wish that for employers like myself who use the app there could be a secondary feature that blocks certain apps only at certain times.  That way I wouldn’t have to constantly authorize the deletion of the app for some drivers.  Otherwise I love the app and have started using it myself!</p>
			</div>
		</div><!-- row -->
		<br><br>
	</div><!-- container -->

	
  <div id="r">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-10 col-lg-offset-1">
          <h4>WE HAVE THE CAPACITY TO SAVE LIVES BY REDUCING THE NUMBER OF DISTRACTED DRIVERS</h4>
          <p>TexBlock is a phone application that communicates with a signal (either GPS or a secondary device) and automatically shuts down user-selected applications.  This app allows users to take control by identifying what applications pose a threatening distraction to them while in their car.  This app is a mechanism to help reduce the number of distracted drivers on the road and decrease the number of injuries and deaths directly related to distracted driving.</p>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><! -- r wrap -->
	
	
  <!-- FOOTER -->
  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="#"><i class="fa fa-android"></i></a><a href="#"><i class="fa fa-phone"></i></a><a href="#"><i class="fa fa-apple"></i></a>
    
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->


  <!-- MODAL FOR CONTACT -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">contact us</h4>
        </div>
        <div class="modal-body">
            <div class="row centered">
              <p>We are available 24/7, so don't hesitate to contact us with questions.</p>
              <p>
            Bates College<br/>
            2 Andrews Rd<br/>
            Lewiston, ME 04240<br/>
              </p>
              <div id="mapwrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.9222621237614!2d-70.20318600000003!3d44.10559600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb26b95e156aed5%3A0xe09394fc40abee2!2sBates+College!5e0!3m2!1sen!2sus!4v1400625080357" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>  
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
